#s_name {
    margin-top:15px;
    display:inline-block;
}

#searchProductButton {
  margin-top:50px;
  margin-left:50px;
}

 tr:hover td{
    background-color: #D4FFAA !important;
}

tr.table-header {
	background-color: #4D4DFF !important;
	color : white;
}

.search-box{
	float:right;
	width:50%;
	margin: 20px -10px 0 0;
}
