.productGrid {
    margin-top: 10px;
    margin-left: -50px;
}

.datepicker { z-index: 1151 !important;  }
}

 .example-modal .modal {
        position: relative;
        top: auto;
        bottom: auto;
        right: auto;
        left: auto;
        display: block;
        z-index: 1;
      }
      .example-modal .modal {
        background: transparent !important;
  }
 
table{
	color : black;
	border : 1; 
}


td,th {
  text-align: center;
}

td.details-control {
    background: url('../../details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../../details_close.png') no-repeat center center;
}


  