<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
    <title>SportWarms</title>
        <script type="text/javascript"
    src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script type="text/javascript">
			function loadDoc() {
				
				$.ajax({
					url:'ajaxtest',
					success : function(data){
						document.getElementById("demo").innerHTML = data;
					}
				});
			}
			
		</script>      
    </head>
    <body>
        <h1><span th:text="${message}"/>Hello world!</h1>
        <div id="result"></div>
        <button type="button" onClick="loadDoc()" id="demo">Click</button>
    </body>
</html>