<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>SportWarms</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <link rel="stylesheet" href="resources/lib/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"/>
    <link rel="stylesheet" href="resources/app/css/AdminLTE.min.css"/>   
    <link rel="stylesheet" href="resources/app/css/skin-blue.min.css"/>
    <link rel="stylesheet" href="resources/app/css/swarm.css"/>
    <link rel="stylesheet" href="resources/lib/css/datatables.min.css"/>
    <link rel="stylesheet" href="resources/lib/css/select2.min.css"/>
	<link rel="stylesheet" href="resources/lib/css/select2-bootstrap.min.css"/>
	<link rel="stylesheet" href="resources/lib/css/bootstrap-multiselect.css" type="text/css"/>
	<link rel="stylesheet" href="resources/app/css/sales-report.css"/>
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
	
	
	
	
	 <style>
      .billing-modal .modal {
        position: relative;
        top: auto;
        bottom: auto;
        margin-left: 15%;
        display: block;
        z-index: 1;
        width: 70%;
      }
      .example-modal .modal {
        background: transparent !important;
      }
      
      </style>

  </head>
    
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

      <!-- Main Header -->
      <header class="main-header">

        <!-- Logo -->
        <a href="index2.html" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>S</b>WARMS</span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>Sport</b>WARMS</span>
        </a>
        
                <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <!-- Navbar Right Menu -->
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!-- Messages: style can be found in dropdown.less-->
              <li class="dropdown messages-menu">
                <!-- Menu toggle button -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-envelope-o"></i>
                  <span class="label label-success">4</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">You have 4 messages</li>
                  <li>
                    <!-- inner menu: contains the messages -->
                    <ul class="menu">
                      <li><!-- start message -->
                        <a href="#">
                          <div class="pull-left">
                            <!-- User Image -->
                            <img src="resources/app/img/md.png" class="img-circle" alt="User Image"/>
                          </div>
                          <!-- Message title and timestamp -->
                          <h4>
                            Support Team
                            <small><i class="fa fa-clock-o"></i> 5 mins</small>
                          </h4>
                          <!-- The message -->
                          <p>Why not buy a new awesome theme?</p>
                        </a>
                      </li><!-- end message -->
                    </ul><!-- /.menu -->
                  </li>
                  <li class="footer"><a href="#">See All Messages</a></li>
                </ul>
              </li><!-- /.messages-menu -->

              <!-- Notifications Menu -->
              <li class="dropdown notifications-menu">
                <!-- Menu toggle button -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-bell-o"></i>
                  <span class="label label-warning">10</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">You have 10 notifications</li>
                  <li>
                    <!-- Inner Menu: contains the notifications -->
                    <ul class="menu">
                      <li><!-- start notification -->
                        <a href="#">
                          <i class="fa fa-users text-aqua"></i> 5 new members joined today
                        </a>
                      </li><!-- end notification -->
                    </ul>
                  </li>
                  <li class="footer"><a href="#">View all</a></li>
                </ul>
              </li>
              <!-- Tasks Menu -->
              <li class="dropdown tasks-menu">
                <!-- Menu Toggle Button -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-flag-o"></i>
                  <span class="label label-danger">9</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">You have 9 tasks</li>
                  <li>
                    <!-- Inner menu: contains the tasks -->
                    <ul class="menu">
                      <li><!-- Task item -->
                        <a href="#">
                          <!-- Task title and progress text -->
                          <h3>
                            Design some buttons
                            <small class="pull-right">20%</small>
                          </h3>
                          <!-- The progress bar -->
                          <div class="progress xs">
                            <!-- Change the css width attribute to simulate progress -->
                            <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                              <span class="sr-only">20% Complete</span>
                            </div>
                          </div>
                        </a>
                      </li><!-- end task item -->
                    </ul>
                  </li>
                  <li class="footer">
                    <a href="#">View all tasks</a>
                  </li>
                </ul>
              </li>
              <!-- User Account Menu -->
              <li class="dropdown user user-menu">
                <!-- Menu Toggle Button -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <!-- The user image in the navbar-->
                  <img src="resources/app/img/md.png" class="user-image" alt="User Image"/>
                  <!-- hidden-xs hides the username on small devices so only the image appears. -->
                  <span class="hidden-xs">Manish Agrawal</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- The user image in the menu -->
                  <li class="user-header">
                    <img src="resources/app/img/md.png" class="img-circle" alt="User Image"/>
                    <p>
                     Manish Agrawal
                      <small> Managing Director</small>
                    </p>
                  </li>
                  
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-left">
                      <a href="#" class="btn btn-default btn-flat">Profile</a>
                    </div>
                    <div class="pull-right">
                      <a href="#" class="btn btn-default btn-flat">Sign out</a>
                    </div>
                  </li>
                </ul>
              </li>
             
            </ul>
          </div>
        </nav>
        
      </header>
      
 
  	
  	   <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

          <!-- Sidebar user panel (optional) -->
          <div class="user-panel">
            <div class="pull-left image">
              <img src="resources/app/img/md.png" class="img-circle" alt="User Image"/>
            </div>
            <div class="pull-left info">
              <p>Manish Agrawal</p>
              <!-- Status -->
              <a href="#"><i class="fa fa-circle text-success"></i> MD </a>
            </div>
          </div>

          
          <!-- Sidebar Menu -->
          <ul class="sidebar-menu">
            <li class="header">Dashboard</li>
            <!-- Optionally, you can add icons to the links -->
            <li class="active"><a href="#"><i class="fa fa-link"></i> <span>Sales Activites</span></a></li>
            <li><a href="#"><i class="fa fa-link"></i> <span>Employee</span></a></li>
            <li><a href="#"><i class="fa fa-link"></i> <span>Office</span></a></li>
           </ul><!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
      </aside>



      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
       

        <section class="content">
			       <!-- Info boxes -->
			     <h1 align="center"><u>REVENUE SALES REPORT</u></h1>

 <div class="row">
           <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="minfo-box">
              	<div class = "mheader">
                	<h2> Total Revenue</h2>
                	<h3> $0.01 <small>Today</small></h3>
                	<div class = "mcontent">
	                	<p>Yesterday <span> $2.00</span></p>
	                	<hr/>
	                	<p>This Month <span> $2.00</span></p>
	                	<hr/>
	                	<p>Last Month <span> $2.00</span></p>
                	</div>
                </div>
              </div><!-- /.info-box -->
            </div><!-- /.col -->
            
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="minfo-box">
              	<div class = "mheader">
              		<div>
                		<h2> Net Revenue Storewise</h2>
                		<div class="store-selector">
							<select id="sport-type-filter" class="form-control select-box-inline office-selects">
								<option name = "sportId" selected="selected" value='1' >Ranchi</option>
								<option name = "sportId" selected="selected" value='2' >Delhi</option>
							</select>
					  </div>
                	</div>
                	<h3> $0.01 <small>Today</small></h3>
                	<div class = "mcontent">
	                	<p>Yesterday <span> $2.00</span></p>
	                	<hr/>
	                	<p>This Month <span> $2.00</span></p>
	                	<hr/>
	                	<p>Last Month <span> $2.00</span></p>
                	</div>
                </div>
              </div><!-- /.info-box -->
            </div><!-- /.col -->
            
             <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="minfo-box">
              	<div class = "mheader">
              		<div>
                		<h2> Net Revenue SportWise</h2>
                		<div class="store-selector">
							<select id="sport-type-filter" class="form-control select-box-inline office-selects">
								<option name = "sportId" selected="selected" value='1' >Cricket</option>
								<option name = "sportId" selected="selected" value='2' >Tennis</option>
							</select>
					  </div>
                	</div>
                	<h3> $0.01 <small>Today</small></h3>
                	<div class = "mcontent">
	                	<p>Yesterday <span> $2.00</span></p>
	                	<hr/>
	                	<p>This Month <span> $2.00</span></p>
	                	<hr/>
	                	<p>Last Month <span> $2.00</span></p>
                	</div>
                </div>
              </div><!-- /.info-box -->
            </div><!-- /.col -->
            
            <div class="col-md-12 col-sm-6 col-xs-12">
              <div class="minfo-box">
              	<div id="earning-rangeDiv">
	                <div id="earning-reportrange">
					    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
					    <span></span> <b class="caret"></b>
					</div>
    			</div>          
	              <div class="col-md-4 col-sm-12 col-xs-12">
		              <div class="info-box" id = "revenue-commonCard">
		                <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>
		                <div class="info-box-content" >
		                  <span class="info-box-text">Total Revenue </span>
		                  <span class="info-box-number">$100</span>
		                </div><!-- /.info-box-content -->
		              </div><!-- /.info-box -->
	             </div><!-- /.col -->
	             
	              <div class="col-md-4 col-sm-12 col-xs-12" >
		              <div class="info-box" id = "revenue-storeCard">
		                <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>
		                <div class="info-box-content" >
		                  <span class="info-box-text">Net Revenue from the store</span>
		                  <div class="store-selector2">
							<select id="sport-type-filter" class="form-control select-box-inline office-selects">
								<option name = "sportId" selected="selected" value='1' >Ranchi</option>
								<option name = "sportId" selected="selected" value='2' >Delhi</option>
							</select>
					 	  </div>
		                  <span class="info-box-number">$10</span>
		                  
		                </div><!-- /.info-box-content -->
		              </div><!-- /.info-box -->
	             </div><!-- /.col -->
	             
	              <div class="col-md-4 col-sm-12 col-xs-12" >
		              <div class="info-box" id = "revenue-sportCard">
		                <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>
		                
		                <div class="info-box-content" >
		                  <span class="info-box-text">Net Revenue from the sport</span>
		                  <div class="store-selector2" >
							<select id="sport-type-filter" class="form-control select-box-inline office-selects">
								<option name = "sportId" selected="selected" value='1' >Cricket</option>
								<option name = "sportId" selected="selected" value='2' >Tennis</option>
							</select>
					 	 </div>
		                  <span class="info-box-number">$90</span>
		                 </div><!-- /.info-box-content -->
		                
		              </div><!-- /.info-box -->
		              
		               
	             </div><!-- /.col -->
	             
	              <div class="col-md-8 col-sm-12 col-xs-12">
	              		<div class="btn-group" id = "revenue-button-grp" data-toggle="buttons">
			                <label class="btn btn-default">
			                    <input type="radio" id="rline" name="1" value="1" checked="checked" /> Line
			                </label> 
			                <label class="btn btn-default">
			                    <input type="radio" id="rbar" name="2" value="2" /> Bar
		                	</label> 
	           			 </div>
	              		
						<div class="chart" id="revenue-line-chart" style="height: 300px;"></div>
	             </div><!-- /.col -->
	             
	              <div class="col-md-4 col-sm-12 col-xs-12">
		               <div class="chart" id="revenue-donut-chart" style="height: 300px;"></div>
	             </div><!-- /.col -->
	             
	             
	             
	            
            </div><!-- /.info-box -->
              
              
            </div><!-- /.col -->

          </div><!-- /.row -->




			     <h1 align="center"><u>EARNING SALES REPORT</u></h1>  
			       
<!-- 			Section of earning	        -->
          <div class="row">
           <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="minfo-box">
              	<div class = "mheader">
                	<h2> Total Net Earning</h2>
                	<h3> $0.01 <small>Today</small></h3>
                	<div class = "mcontent">
	                	<p>Yesterday <span> $2.00</span></p>
	                	<hr/>
	                	<p>This Month <span> $2.00</span></p>
	                	<hr/>
	                	<p>Last Month <span> $2.00</span></p>
                	</div>
                </div>
              </div><!-- /.info-box -->
            </div><!-- /.col -->
            
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="minfo-box">
              	<div class = "mheader">
              		<div>
                		<h2> Net Earning Storewise</h2>
                		<div class="store-selector">
							<select id="sport-type-filter" class="form-control select-box-inline office-selects">
								<option name = "sportId" selected="selected" value='1' >Ranchi</option>
								<option name = "sportId" selected="selected" value='2' >Delhi</option>
							</select>
					  </div>
                	</div>
                	<h3> $0.01 <small>Today</small></h3>
                	<div class = "mcontent">
	                	<p>Yesterday <span> $2.00</span></p>
	                	<hr/>
	                	<p>This Month <span> $2.00</span></p>
	                	<hr/>
	                	<p>Last Month <span> $2.00</span></p>
                	</div>
                </div>
              </div><!-- /.info-box -->
            </div><!-- /.col -->
            
             <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="minfo-box">
              	<div class = "mheader">
              		<div>
                		<h2> Net Earning SportWise</h2>
                		<div class="store-selector">
							<select id="sport-type-filter" class="form-control select-box-inline office-selects">
								<option name = "sportId" selected="selected" value='1' >Cricket</option>
								<option name = "sportId" selected="selected" value='2' >Tennis</option>
							</select>
					  </div>
                	</div>
                	<h3> $0.01 <small>Today</small></h3>
                	<div class = "mcontent">
	                	<p>Yesterday <span> $2.00</span></p>
	                	<hr/>
	                	<p>This Month <span> $2.00</span></p>
	                	<hr/>
	                	<p>Last Month <span> $2.00</span></p>
                	</div>
                </div>
              </div><!-- /.info-box -->
            </div><!-- /.col -->
            
            <div class="col-md-12 col-sm-6 col-xs-12">
              <div class="minfo-box">
              	<div id="revenue-rangeDiv">
	                <div id="revenue-reportrange">
					    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
					    <span></span> <b class="caret"></b>
					</div>
    			</div>          
	              <div class="col-md-4 col-sm-12 col-xs-12">
		              <div class="info-box" id = "earning-commonCard">
		                <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>
		                <div class="info-box-content" >
		                  <span class="info-box-text">Total Net Earning</span>
		                  <span class="info-box-number">$100</span>
		                </div><!-- /.info-box-content -->
		              </div><!-- /.info-box -->
	             </div><!-- /.col -->
	             
	              <div class="col-md-4 col-sm-12 col-xs-12" >
		              <div class="info-box" id = "earning-storeCard">
		                <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>
		                <div class="info-box-content" id = "storeCard">
		                  <span class="info-box-text">Net Earning from the store</span>
		                  <div class="store-selector2">
							<select id="sport-type-filter" class="form-control select-box-inline office-selects">
								<option name = "sportId" selected="selected" value='1' >Ranchi</option>
								<option name = "sportId" selected="selected" value='2' >Delhi</option>
							</select>
					 	  </div>
		                  <span class="info-box-number">$10</span>
		                  
		                </div><!-- /.info-box-content -->
		              </div><!-- /.info-box -->
	             </div><!-- /.col -->
	             
	              <div class="col-md-4 col-sm-12 col-xs-12" >
		              <div class="info-box" id = "earning-sportCard">
		                <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>
		                
		                <div class="info-box-content" >
		                  <span class="info-box-text">Net Earning from the sport</span>
		                  <div class="store-selector2" >
							<select id="sport-type-filter" class="form-control select-box-inline office-selects">
								<option name = "sportId" selected="selected" value='1' >Cricket</option>
								<option name = "sportId" selected="selected" value='2' >Tennis</option>
							</select>
					 	 </div>
		                  <span class="info-box-number">$90</span>
		                 </div><!-- /.info-box-content -->
		                
		              </div><!-- /.info-box -->
		              
		               
	             </div><!-- /.col -->
	             
	              <div class="col-md-8 col-sm-12 col-xs-12">
	              	
	              	<div class="btn-group" role="group" aria-label="...">
  						<button type="button" id = "buttonA" class="btn btn-default active">Left</button>
  						<button type="button" id = "buttonB" class="btn btn-default">Middle</button>
	              	</div>
	              
	              		
	              								
	              <div class="chart" id="earning-line-chart" style="height: 300px;"></div>
	             </div><!-- /.col -->
	             
	              <div class="col-md-4 col-sm-12 col-xs-12">
		               <div class="chart" id="earning-donut-chart" style="height: 300px;"></div>
	             </div><!-- /.col -->
	             
	             
	             
	            
            </div><!-- /.info-box -->
              
              
            </div><!-- /.col -->

          
            
           
          </div><!-- /.row -->
		
		
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->





      <!-- Main Footer -->
      <footer class="main-footer">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
          Anything you want
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2015 <a href="#">Company</a>.</strong> All rights reserved.
      </footer>
      
       <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->
    
     <!-- jQuery 2.1.4 -->
    <script src="resources/lib/js/jquery-2.1.4.min.js" type="text/javascript"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="resources/lib/js/bootstrap.min.js" type="text/javascript"></script>
    <!-- AdminLTE App -->
    <script src="resources/app/js/app.min.js" type="text/javascript"></script>
    
    <script src="resources/app/js/common.js" type="text/javascript"></script>
    
    <script src="resources/lib/js/datatables.min.js" type="text/javascript"></script>
    <script src="resources/lib/js/bootstrap-datepicker.js" type="text/javascript"></script>
    <script src="resources/app/js/customer.js" type="text/javascript"></script>
    <script src="resources/app/js/gift-card-payment.js" type="text/javascript"></script>
 	<script src="resources/app/js/geo-locations.js" type="text/javascript"></script>
 	<script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
	<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
 	<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <script type="text/javascript" src="resources/lib/js/morris.min.js"></script>
 	<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
 	<script type="text/javascript" src="resources/app/js/md-sales-report.js" ></script>
 	<script src="resources/app/js/md-sales-report.js" type="text/javascript"></script>
 	    

   </body>
  </html>
  
  
  