<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>AdminLTE 2 | Starter</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <link rel="stylesheet" href="resources/lib/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"/>
    <link rel="stylesheet" href="resources/app/css/AdminLTE.min.css"/>   
    <link rel="stylesheet" href="resources/app/css/skin-blue.min.css"/>
    <link rel="stylesheet" href="resources/app/css/swarm.css"/>
    <link rel="stylesheet" href="resources/lib/css/datatables.min.css"/>
    <link rel="stylesheet" href="resources/lib/css/select2.min.css"/>
	<link rel="stylesheet" href="resources/lib/css/select2-bootstrap.min.css"/>
	<link rel="stylesheet" href="resources/lib/css/bootstrap-multiselect.css" type="text/css"/>
	
	
	 <style>
      .billing-modal .modal {
        position: relative;
        top: auto;
        bottom: auto;
        margin-left: 15%;
        display: block;
        z-index: 1;
        width: 70%;
      }
      .example-modal .modal {
        background: transparent !important;
      }
      
      </style>

  </head>
    
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

      <!-- Main Header -->
      <header class="main-header">

        <!-- Logo -->
        <a href="index2.html" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>S</b>WARMS</span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>Sport</b>WARMS</span>
        </a>
        
                <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <!-- Navbar Right Menu -->
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!-- Messages: style can be found in dropdown.less-->
              <li class="dropdown messages-menu">
                <!-- Menu toggle button -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-envelope-o"></i>
                  <span class="label label-success">4</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">You have 4 messages</li>
                  <li>
                    <!-- inner menu: contains the messages -->
                    <ul class="menu">
                      <li><!-- start message -->
                        <a href="#">
                          <div class="pull-left">
                            <!-- User Image -->
                            <img src="resources/app/img/md.png" class="img-circle" alt="User Image"/>
                          </div>
                          <!-- Message title and timestamp -->
                          <h4>
                            Support Team
                            <small><i class="fa fa-clock-o"></i> 5 mins</small>
                          </h4>
                          <!-- The message -->
                          <p>Why not buy a new awesome theme?</p>
                        </a>
                      </li><!-- end message -->
                    </ul><!-- /.menu -->
                  </li>
                  <li class="footer"><a href="#">See All Messages</a></li>
                </ul>
              </li><!-- /.messages-menu -->

              <!-- Notifications Menu -->
              <li class="dropdown notifications-menu">
                <!-- Menu toggle button -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-bell-o"></i>
                  <span class="label label-warning">10</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">You have 10 notifications</li>
                  <li>
                    <!-- Inner Menu: contains the notifications -->
                    <ul class="menu">
                      <li><!-- start notification -->
                        <a href="#">
                          <i class="fa fa-users text-aqua"></i> 5 new members joined today
                        </a>
                      </li><!-- end notification -->
                    </ul>
                  </li>
                  <li class="footer"><a href="#">View all</a></li>
                </ul>
              </li>
              <!-- Tasks Menu -->
              <li class="dropdown tasks-menu">
                <!-- Menu Toggle Button -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-flag-o"></i>
                  <span class="label label-danger">9</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">You have 9 tasks</li>
                  <li>
                    <!-- Inner menu: contains the tasks -->
                    <ul class="menu">
                      <li><!-- Task item -->
                        <a href="#">
                          <!-- Task title and progress text -->
                          <h3>
                            Design some buttons
                            <small class="pull-right">20%</small>
                          </h3>
                          <!-- The progress bar -->
                          <div class="progress xs">
                            <!-- Change the css width attribute to simulate progress -->
                            <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                              <span class="sr-only">20% Complete</span>
                            </div>
                          </div>
                        </a>
                      </li><!-- end task item -->
                    </ul>
                  </li>
                  <li class="footer">
                    <a href="#">View all tasks</a>
                  </li>
                </ul>
              </li>
              <!-- User Account Menu -->
              <li class="dropdown user user-menu">
                <!-- Menu Toggle Button -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <!-- The user image in the navbar-->
                  <img src="resources/app/img/md.png" class="user-image" alt="User Image"/>
                  <!-- hidden-xs hides the username on small devices so only the image appears. -->
                  <span class="hidden-xs">Manish Agrawal</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- The user image in the menu -->
                  <li class="user-header">
                    <img src="resources/app/img/md.png" class="img-circle" alt="User Image"/>
                    <p>
                     Manish Agrawal
                      <small> Managing Director</small>
                    </p>
                  </li>
                  
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-left">
                      <a href="#" class="btn btn-default btn-flat">Profile</a>
                    </div>
                    <div class="pull-right">
                      <a href="#" class="btn btn-default btn-flat">Sign out</a>
                    </div>
                  </li>
                </ul>
              </li>
             
            </ul>
          </div>
        </nav>
        
      </header>
      
 
  	
  	   <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

          <!-- Sidebar user panel (optional) -->
          <div class="user-panel">
            <div class="pull-left image">
              <img src="resources/app/img/md.png" class="img-circle" alt="User Image"/>
            </div>
            <div class="pull-left info">
              <p>Manish Agrawal</p>
              <!-- Status -->
              <a href="#"><i class="fa fa-circle text-success"></i> MD </a>
            </div>
          </div>

          
          <!-- Sidebar Menu -->
          <ul class="sidebar-menu">
            <li class="header">Dashboard</li>
            <!-- Optionally, you can add icons to the links -->
            <li class="active"><a href="#"><i class="fa fa-link"></i> <span>Sales Activites</span></a></li>
            <li><a href="#"><i class="fa fa-link"></i> <span>Employee</span></a></li>
            <li><a href="#"><i class="fa fa-link"></i> <span>Office</span></a></li>
           </ul><!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
      </aside>



      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
       

        <!-- Main content -->
        <section class="content">
			<h> Hello World </h>
          <!-- Your Page Content Here -->
          <div class="billing-modal" >
            <div class="modal modal-primary">
              <div class="">
                <div class="modal-content">
                  <div class="modal-header">
                    <div class = "row">
	                    <div class="form-group col-lg-2">
		                    <input name="cid" type="text" class="form-control cid"  id="cid" placeholder = "Id of existing customer" />
		                 </div>
		                 
<!-- 	                    <button type="button" id = "addCustomer" class="btn btn-outline pull-left" data-target="#customer-modal" >Or add new customer</button> -->
	                    <button type="button" id = "addCustomer" class="btn btn-default btn-md"
					data-toggle="modal" data-target="#customer-modal">
					<span class="glyphicon glyphicon-plus" aria-hidden="true" ></span>
					<span >Add New Customer</span>
				</button>
                     </div>
                     <div class = "customer-info-div" id = "customer-info-div">  
                       	<h class="customer-info" id = "customer-info"></h>
                    </div>
                    
                  </div>
                  <div class="modal-body">
                     <div class="row">
            			<div class="col-xs-12">
              				<div class="box">
			                    <div class="box-body table-responsive no-padding">
			                  		<table class="table table-hover" id = "billing-table">
			                    
				                    	<tr class = "billing_table">
				                    		<td style= 'width: 4%'>
				                    			<Button  id ='addRow'> + </Button>
				         			 
				                    		</td>
				                    		<td style= 'width: 11%'> pid </td>
				                    		<td style= 'width: 20%' > Name </td>
				                    		<td style= 'width: 10%'> Size </td>
				                    		<td style= 'width: 10%'> Color </td>
				                    		<td style= 'width: 10%'> Qty. </td>
				                    		<td style= 'width: 10%'> Price </td>
				                    		<td style= 'width: 10%'> Dicount </td>
				                    		<td style= 'width: 15%'> Amount </td>
				                    	</tr>
				                    	                
			                     </table>
			                    </div>
                  		</div>
                  		<div>
                  		<div class=" row form-group col-lg-2 pull-right">
                  			<table>
	                  			<tr>
	                  				<td style="padding-right:10px"> <font color = "white">Total</font></td>
	                  				<td><input name='pid' type='number' id = 'total' class='  form-control pid' disabled="disabled" /></td>
	                  			</tr>
                  			</table>
                  		</div>
                  			
                  		</div>
                  		
                  	</div>
                  </div>
                  </div>
                  
                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Save</button>
                    <button type="button" id = "payment" class="btn btn-outline">Payment </button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
          </div><!-- /.example-modal -->
		
		<div class="modal " id="customer-modal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" data-mode="add">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Add new customer</h4>
				</div>
				<div class="modal-body">
					<form id="customer-form">
						
							<div class=" col-lg-6 form-group">
								<label for="id">First Name</label> <input name="firstName"
									type="text" class="form-control" id="firstName"
									placeholder="First Name" />
							</div>
						
							<div class=" col-lg-6 form-group">
								<label for="id">Last Name</label> <input name="lastName"
									type="text" class="form-control" id="lastName"
									placeholder="Last Name" />
							</div>
											
						<div class="col-lg-6 form-group">
							<label for="email">Email Id</label> <input name="emailId"
								type="email" class="form-control" id="emailId"
								placeholder="Email Id"/>
						</div>
						
						<div class="form-group col-lg-6">
							<label for="phoneno">Phone No</label> <input name="phoneNo"
								type="tel" class="form-control" id="phoneNo"
								placeholder="Phone No."/>
						</div>
						
						<div class="form-group col-lg-6">
							<label for="interest">Sport Interest</label>
							<select class="form-control" name="sportsInterest" id = "sportsInterest" multiple="multiple">
								<option value="tennis">Tennis</option>
								<option value="cricket" selected="selected">Cricket</option>
								<option value="football" selected="selected">Football</option>
							</select>
						</div>
						
						<div class="form-group col-lg-6">
							<label for="gender">Gender</label>
							<select id="gender" class="form-control" name="gender">
								<option value="1">Female</option>
								<option value="2" selected="selected">Male</option>
								<option value="3" selected="selected">Other</option>
							</select>
						</div>
						
						<div class="form-group col-lg-6">
							<label for="dob">Date of Birth</label> 
							<input name="dob" id="dob" type="text" class="date-picker form-control"  placeholder="dd/mm/yy"/>
						</div>
						
						<div class="form-group col-lg-6">
							<label for="pincode">Pin Code</label> 
							<input name="pinCode" id="pinCode" type="text" class="form-control"  placeholder="pincode"/>
						</div>
						
						<div class="form-group col-lg-6">
							<label for="city">City</label> 
							<input name="city" id="city" type="text" class="form-control"  placeholder="city"/>
						</div>
						
						<div class="form-group col-lg-6">
							<label for="state">State</label> 
							<input name="state" id="state" type="text" class="form-control"  placeholder="state"/>
						</div>
						
						<div class="form-group col-lg-6">
							<label for="country">Country</label> 
							<input name="country" id="country" type="text" class="form-control"  placeholder="country"/>
						</div>
						
						
						
						
					</form>
					
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button id="customer-save-button" type="button" class="btn btn-primary">Save</button>
				</div>
			</div>
		</div>
	</div>	
		
		
		
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->





      <!-- Main Footer -->
      <footer class="main-footer">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
          Anything you want
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2015 <a href="#">Company</a>.</strong> All rights reserved.
      </footer>
      
       <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->
    
     <!-- jQuery 2.1.4 -->
    <script src="resources/lib/js/jquery-2.1.4.min.js" type="text/javascript"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="resources/lib/js/bootstrap.min.js" type="text/javascript"></script>
    <!-- AdminLTE App -->
    <script src="resources/app/js/app.min.js" type="text/javascript"></script>
    
    <script src="resources/app/js/common.js" type="text/javascript"></script>
    
    <script src="resources/lib/js/datatables.min.js" type="text/javascript"></script>
    <script src="resources/lib/js/bootstrap-datepicker.js" type="text/javascript"></script>
    <script src="resources/app/js/customer.js" type="text/javascript"></script>
    <script src="resources/app/js/gift-card-payment.js" type="text/javascript"></script>
 	
   </body>
  </html>
  
  
  